@use '@angular/material' as mat;
$st-primary-palette: (
    50 : #fff2e0,
    100 : #ffdfb3,
    200 : #ffca80,
    300 : #ffb54d,
    400 : #ffa526,
    500 : #ff9500,
    600 : #ff8d00,
    700 : #ff8200,
    800 : #ff7800,
    900 : #ff6700,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd5bf,
    A700 : #ffc4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$sc-accent-palette: (
    50 : #e3e3e3,
    100 : #bababa,
    200 : #8c8c8c,
    300 : #5e5e5e,
    400 : #3c3c3c,
    500 : #191919,
    600 : #161616,
    700 : #121212,
    800 : #0e0e0e,
    900 : #080808,
    A100 : #ff5050,
    A200 : #ff1d1d,
    A400 : #e90000,
    A700 : #cf0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$p1:16px;
$p2:12px;
$p3:8px;
$p4:4px;
$p5:2px;
$p6:1px;

$m1:16px;
$m2:12px;
$m3:8px;
$m4:4px;
$m5:2px;
$m6:1px;

$f1:16px;
$f2:12px;
$f3:8px;
$f4:4px;
$f5:2px;
$f6:1px;
$fXl:48px;
$fl:38px;
$fm:24px;



$g1:16px;
$g2:12px;
$g3:8px;
$g4:4px;
$g5:2px;
$g6:1px;

$br1:16px;
$br2:12px;
$br3:8px;
$br4:4px;
$br5:2px;
$br6:1px;

$fw9:900;
$fw8:800;
$fw7:700;
$fw6:600;
$fw5:500;
$fw4:400;
$fw3:300;
$fw2:200;
$fw1:100;



$white:#ffffff;
$black: #000000;